main {
    width: 100%;
    height: calc(100vh - 80px);
    background: var(--color-background);
    margin-top: 80px;
    background-image: url("../img/main_section.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

main h5 {
    width: 100%;
    color: var(--color-yellow);
    padding-bottom: 10px;
}

main div {
    width: 100%;
    display: flex;
    justify-content: center;
}

main a {
    width: fit-content;
    font-size: 1.1rem;
    line-height: 2.2rem;
    color: var(--color-background);
    text-transform: uppercase;
    background: var(--color-yellow);
    display: block;
    padding: 10px 20px;
    margin-top: 20px;
    transition: all ease 0.2s;
}

main a:hover {
    background: var(--color-white);
}

.section-templates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-templates .main-wrapper {
    width: calc(100% - 20px);
    margin: 50px 0;
}

.section-templates h2 {
    margin: 20px 0;
}

.section-templates-box {
    width: 390px;
    height: 290px;
    border: 1px solid var(--color-border);
    margin: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
    transition: all ease-in-out 0.3s;
}

.section-templates-box:hover {
    border: 1px solid var(--color-text);
    background: var(--color-border);
}

.section-templates-box img {
    width: 95%;
    margin-top: 5px;
    align-self: center;
    transition: all ease-in-out 0.25s;

}

.section-templates-box:hover img {
    width: 100%;
}

.section-templates-box h4 {
    transition: all ease-in-out 0.25s;
}

.section-templates-box:hover h4 {
    width: 100%;
}

.section-templates .banner {
    width: 100%;
    height: 100vw;
    background-image: url("../img/banner_laptop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 992px) {
    main div h1 {
        width: 880px;
        margin-top: 10px;
    }

    main a {
        margin-top: 40px;
        padding: 15px 30px 13px 30px;
    }

    .section-templates h2 {
        margin-bottom: 50px;
    }

    .section-templates-box {
        width: 390px;
        height: 315px;
    }

    .section-templates-box h4 {
        margin-bottom: 40px;
    }

    .section-templates .banner {
        height: 70vh;
        margin-top: 60px;
        margin-bottom: 120px;
    }
}