@font-face {
    font-family: OldStandardTT;
    src: url("../fonts/OldStandardTT-regular.ttf");
}

:root {
    font-size: 62.5%;
    font-family: "OldStandardTT", sans-serif;
    --color-background: #181511;
    --color-yellow: #FFAE2B;
    --color-white: #FFFFFF;
    --color-text: #ACA592;
    --color-border: #4B4136;
}

body {
    background-color: black;
}

/* Header */

.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}